@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.woff2);
}
@font-face {
    font-family: pro;
    src: url(./NBInternationalProBoo.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;    
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 94, 36);
    position: fixed;
    z-index: 8;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#cursor h3{
    font-family: pro;
    font-size: 1.3vw;
    font-weight: 100;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;

}
#pag1-content{
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    z-index: 9;

}
nav{
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2.4vw;
}
nav h3 {
    font-family: pro;
    font-weight: 100;
    font-size: 1.4vw;
}
nav h2 {
    font-family: pro;
    font-weight: 100;
}
#pag1-content h1{
    font-family: rejoy;
    font-weight: 100;
    font-size: 27vw;
    line-height: 20vw;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #f3f2f0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#page2-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 3vw;
    border-bottom: 1px solid #000;
}
#page2-upper h3{
    font-size: 1.6vw;
    font-family:pro;
    font-weight: 100;
}
#page2-upper h2{
    font-size: 1.6vw;
    font-family:pro;
    font-weight: 100;
}
.elem{
    overflow: hidden;
    /* height: 10vw;
    width: 100%; */
}
.elem h1 {
    font-family: pro;
    font-size: 4.1vw;
    font-weight: 100;
    text-align: center;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #f3f2f0;
    position: relative;
}
#page3-upper{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pro;
    gap: 1vw;
}
#page3-upper h3{
    font-size: 1.3vw;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
#page3-upper h3 span {
    font-size: 0.7vw;
    background: #000;
    color: #fff;
    padding: 2px 7px;
    border-radius: 15px;
    
}
#page3-upper h1{
    font-size: 4.4vw;
    font-weight: 100;
    text-align: center;
}
#page3-bottom{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.box{
    height: 85%;
    width: 30%;
    position: relative;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;

}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.box:hover img{
    opacity: 0;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #f3f2f0;

}
#page4-upper{
    height: 70vh;
    width: 100%;
    padding: 5vw 4vw;
}
#page4-upper-top{
    width: 100%;
    height: 4.8vw;
    border-bottom: 1px solid #000;
}
#page4-upper-top h3{
    font-size: 1.7vw;
    font-weight: 100;
    font-family: pro;
}
#page4-upper-bottom{
    overflow: hidden;
}
#page4-upper-bottom h1{
    font-size: 4vw;
    font-weight: 100;
    font-family: pro;
}
#page4-bottom{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.p4cursor{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 8;
    transform: translate(-50%,-50%);
    scale: 0;
}
.p4cursor h3 {
    font-family: pro;
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}
#page4-bottom video{
    height: 115vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-circle{
    height: 60vh;
    width: 30vw;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(175, 172, 172);
    border-right: 1px solid rgb(175, 172, 172);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-container{
    height: 14vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.container-top{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-top-left{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    top: 6.3vw;
}
.number h1{
    font-size: 3.8vw;
    color: #fff;
    font-family: rejoy;
    height: 100%;
}
.container-top-right{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container-top-right h1{
    font-family: rejoy;
    font-size: 2.8vw;
    color: #fff;
    position: absolute;
    top: 15%;
}
.container-bottom{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-bottom p{
    font-family: pro;
    color: #fff;
    font-size: 1.4vw;
}
#page5{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f3f2f0;
}
#page6{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000;
}
.page6-top{
    height: 55%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.page6-top-left{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.content-top{
    height: 30%;
    width: 100%;
    font-family: pro;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0vw 1.7vw;
}
.content-top h3{
    font-size: 2vw;
    color: #fff;
}
.content-top button{
    font-size: 1.2vw;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    height: 3vw;
    width: 9vw;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}
.content-top button:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease-out;

    
}
.content-bottom{
    height: 30%;
    width: 100%;
    font-family: pro;
    padding: 1vw 2vw;
}
.content-bottom p{
    font-size: 1.3vw;
    color: #fff;
}
.page6-top-right{
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-right-left{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.top-right-right{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.part1{
    display: flex;
    flex-direction: column;
    padding: 1vw 1vw;
    gap: 0.3vw;
}
.part1 a{
    text-decoration: none;
    color: #fff;
    font-family: pro;
    font-size: 1.2vw;

}
.part1 a:hover{
    text-decoration: underline;
    color: #cfcccc;
}
.part2 a:hover{
    text-decoration: underline;
    color: #cfcccc;
}
.part2{
    padding: 0vw 1vw;
}
.part2 a{
    text-decoration: none;
    color: #fff;
    font-family: pro;
    font-size: 1.2vw;
}
.page6-bottom{
    height: 45%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.page6-bottom h1{
    height: 100%;
    font-family: rejoy;
    font-size: 26vw;
    position: relative;
    bottom: 12%;
    left: 3.5%;
    color: #fff;
    font-weight: 100;
}